/*
 * Модификаторы оформления
 */
scr_xs = 480px
scr_sm = 768px
scr_md = 992px
scr_lg = 1200px

a, input
	&:focus
		outline 0
		text-decoration: none

.inline-block
	display inline-block

for vx in uppercase lowecase
	.{vx}
		text-transform vx

for vx in left center right
	.{vx}
		text-align vx !important

value = 0px 5px 10px 15px 20px 25px 30px
value_sm = 5px 10px 15px 20px 25px 30px 35px
sizes = scr_xs scr_sm scr_md scr_lg

for vx in margin padding
	.no-{vx}
		{vx} 0 !important
	for vq, key in xs sm md lg
		@media (min-width: sizes[key])
			.no-{vx}-{vq}
				{vx} 0 !important
	for vy in top left bottom right
		.no-{vx}-{vy}
			{vx}-{vy} 0 !important
		for vq, key in xs sm md lg
			@media (min-width: sizes[key])
				.no-{vx}-{vy}-{vq}
					{vx}-{vy} 0 !important
		for vz, key in xxs xs s m l xl xxl
			/.{vz}-{vx}-{vy}
				{vx}-{vy}: value[key] !important
				@media (min-width: scr_sm)
					{vx}-{vy}: value_sm[key] !important

for vx in center right left
	for vz, key in xs sm md lg
		.{vz}-{vx}
			@media (min-width: sizes[key])
				text-align: vx



for vx in line-height
	for vz, key in xxs xs s m l xl xxl
		/.{vz}-{vx}
			{vx}: value_sm[key] !important


.no-gutter > [class*='col-']
	padding-right 0
	padding-left 0

for vz, key in xs sm md lg
	@media (min-width: sizes[key])
		.no-gutter-{vz} > [class*='col-']
			padding-right 0
			padding-left 0

/*!
 * Примеси
 */
@import "nib"

full-width()
	float left
	width 100%

middle()
	display inline-block
	vertical-align middle

t(attr=null,time=.3s)
	transition-property attr
	transition-duration time

b(name=null, position=null, color=null, size=null)
	background color url(../images/name) position
	if size
		background-size size
/*
 * Модификаторы плагинов
 */
 .fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play
	background-image url(../images/plugins/fotorama.png)
	@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi)
		background-image url(../images/plugins/fotorama@2x.png)
blue  = #0049d3
blue2 = #00aafa
white = #f4f4f4
@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Bold.ttf")
	src local('☺'), url('../fonts/ProximaNova-Bold.ttf') format('truetype')
	font-weight bold

@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Regular.ttf")
	src local('☺'), url('../fonts/ProximaNova-Regular.ttf') format('truetype')
	font-weight normal

@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Light.ttf")
	src local('☺'), url('../fonts/ProximaNova-Light.ttf') format('truetype')
	font-weight 300
.footer
	full-width()
	position relative
	z-index 20
	color #a3a3a3
	overflow hidden
	background black
	border-top 1px solid #212121
	min-height 65px
	padding 22px 0 13px
	font-weight bold
	text-transform uppercase
	font-size 10px
	.copyright
		position relative
		top 4px
		@media (min-width: scr_sm)
			top 0
	.contacts
		span
			white-space no-wrap
	a
		color #a3a3a3
		text-decoration: underline
		&:hover
			color blue
	.map
		full-width()
		@media (min-width: scr_md)
			text-align center
	.social
		padding-left 0
		text-align right
		@media (min-width: scr_sm)
			padding-left 20px
			text-align left
		&__item
			middle()
			opacity .5
			text-align: center
			t(opacity)
			width 14px
			height 14px
			margin 0 4px
			position relative
			@media (min-width: scr_sm)
				width 23px
				height 23px
				top 0
				margin 0 2px
				line-height 23px

			&:hover
				opacity 1
			svg
				middle()
				max-height 100%
				max-width 100%
	.radia
		float right
		t(opacity)
		opacity .5
		display none
		.index &
			display block
		&:hover
			opacity 1
		svg
			max-height 27px
			max-width 27px
			margin-right: 10px
			float left
		&__content
			float left
			color #fff
			text-decoration: none
	.contacts, .radia, .map, .address
		display none
		@media (min-width: scr_sm)
			display block
body
	font-family 'Proxima', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	height 100%
	color white
	&.map
		min-height 850px
	
a
	transition-property color, background-color, border-radius, box-shadow, border-radius
	transition-duration .3s
	&:hover
		text-decoration none
.container
	max-width 1150px
.wrap 
	full-width()
	min-height: 100%
	padding-bottom 65px
	margin-bottom: -65px
	&:after
		content ""
		display block
	.transparent &
		background transparent
	b('bg.jpg', top center no-repeat, black, cover)
	for x in index about contacts partners tech news
		.{x} &
			b('bg_'+x+'.jpg', top center no-repeat, black, cover)
			
	.index &
		
		b('bg_index_xs.jpg', top center no-repeat, black)

		@media (min-width: scr_sm)
			b('bg_index.sm.jpg', top center no-repeat, black)
		@media (min-width: scr_md)
			b('bg_index_md.jpg', top center no-repeat, black)
		@media (min-width: scr_lg)
			b('bg_index_lg.jpg', top center no-repeat, black, cover)
html
	height 100%

article
	position relative
	z-index 10

.index-page
	full-width()
	float right
	margin-top 180px
	padding-top 20px
	@media (min-width: scr_xs)
		margin-top 230px
	@media (min-width: scr_md)
		margin-top 295px
	@media (min-width: scr_md)
		max-width 509px
	.bages
		@media (min-width: scr_sm)
			left 2%
	.highlight
		text-align center
		full-width()
		margin-bottom 35px
		@media (min-width: scr_md)
			text-align right
		h1
			width 100%
			float right
			padding-bottom 10px
			margin-bottom 0px
			text-transform: uppercase
			font-weight bold
			font-size 20px
			line-height 20px
			@media (min-width: scr_xs)
				font-size 25px
				line-height 30px
			@media (min-width: scr_sm)
				font-size 35px
				line-height 35px
			br
				@media (min-width: scr_sm)
					display none
				@media (min-width: scr_md)
					display inline

		p
			full-width()
			font-size 14px
			line-height 18px
			@media (min-width: scr_sm)
				font-size 20px
				line-height 25px
.page
	.bages
		text-align center
		position relative
		@media (min-width: scr_sm)
			margin-bottom 0
			text-align left
			line-height: 54px
			margin-bottom 30px
		@media (min-width: scr_md)
			display none
		&__image
			max-width 54px
			margin-bottom 10px
			@media (min-width: scr_sm)
				margin-bottom 0
				margin-right: 10px
				max-width 54px
		&__title
			middle()
			text-transform: uppercase
			font-weight: bold
			max-width 100%
			font-size 8px
			@media (min-width: scr_xs)
				font-size 11px
			@media (min-width: scr_sm)
				max-width 60%
				line-height 16px
				font-size 11px
.modal
	padding 0
.modal-dialog
	width 100%
	margin 0
	min-height 100%
	@media (min-width: scr_md)
		min-height none
		margin: 30px auto;
		width 770px
		iframe
			height (648*.562)px
	@media (min-width: scr_lg)
		width 980px
		iframe
			height (900*.562)px

	#Feedback &
		max-width 600px

.modal-content
	full-width()
	border-radius 0
	background black
	.date
		font-weight bold
		color blue
	.divider
		full-width()
		border-bottom 1px solid black
		margin 15px 0 20px
	.text
		min-height 200px
	iframe
		max-width 90%
		margin 15px 5%
		max-height 50%
		@media (min-width: scr_md)
			margin 0
			max-height none
			max-width 100%
	min-height 100%
	@media (min-width: scr_md)
		min-height none
		padding 50px 60px
		border 1px solid blue
	&--white
		background white
		border 0
		padding 30px 20px
		@media (min-width: scr_md)
			padding 30px 40px
		color black !important
		p
			font-size 14px
			line-height 17px
			margin-bottom 18px
			@media (min-width: scr_md)
				font-size 16px
				line-height 20px
		h1
			margin-top 10px
			font-weight bold
			font-size 25px
			margin-bottom: 25px
			@media (min-width: scr_md)
				font-size 30px
	.close
		opacity 1
		position absolute
		z-index 30000000
		right 10px
		top -5px
		svg
			max-width 30px
			path
				fill blue
		@media (min-width: scr_md)
			right -100px
			svg
				max-width none
	img
		max-width 100%
.modal-backdrop.in
	opacity .99
	@media (min-width: scr_md)
		opacity .8

#map
	width 100%
	height 438px

#bg_map
	position absolute
	background black
	top 0
	z-index 1
	left 0
	width 100%
	height 100%
	min-height 850px
	display none
	@media (min-width: scr_sm)
		display block

.no-mobile
	display none
	@media (min-width: scr_sm)
		display block
#Feedback .form
	display block
	margin-bottom 0
	padding-bottom 0

.modal
	.lang-trigger
		margin 17px 20px 15px
	.phone
		full-width()
		text-align: center
		font-size 37px
		color white
		padding 20px 0
		font-weight bold
	.form-trigger
		font-size 25px
		font-weight bold
		color white
		height 25px
		display inline-block
		border-bottom 1px dotted white
		text-align center
		text-transform: uppercase
	.success
		display none
	.form
		full-width()
		padding-bottom 40px
		padding 0 20px
		display none
		label
			full-width()
			margin-top 20px
			text-align center
			font-size 10px
			text-transform: uppercase
		.captcha_refresh
			float: left
			margin-top 39px
			svg
				width 29px
				height 30px
		input[type="text"], input[type="email"], textarea
			border 0
			appearance none
			full-width()
			border-radius 0
			color black
			text-align center
			padding-top 12px
			line-height 27px
			height 30px
			@media (min-width: scr_sm)
				padding-top 8px
			&.parsley-error
				box-shadow 0 0 0 2px red
		.parsley-errors-list
			display none !important
		textarea
			height 180px
			text-align left
		.captcha
			full-width()
			background-color #737a82
			height 30px
		input[type="submit"]
			appearance none
			middle()
			background transparent
			margin-top 20px
			margin-bottom 20px
			border-radius 30px
			height 30px
			font-size 14px
			border 2px solid blue
			padding 5px 25px 0
			font-weight bold
			text-transform: uppercase
	&-title
		full-width()
		color white
		padding 0 20px
		line-height 55px
		height 55px
		font-size 11px
		text-transform uppercase		
		font-weight bold
	.search
		padding 20px
		&__input
			height 40px
			font-size 15px
			padding 0 25px 0 15px
			border-radius 50px
			border-weight 2px
		&__submit
			right 30px
			top 30px
			svg
				width 20px
				height 20px
.nav-popup
	border-top 1px solid #404040
	full-width()
	&__item
		border-bottom 1px solid #404040
		full-width()
		color white
		padding 0 20px
		line-height 62px
		height 55px
		font-weight: bold
		text-transform: uppercase
		font-size: 26px
		#Sites &
			font-size 16px
		&:hover, &--active
			background blue2
			color white
.page
	padding-bottom 40px
	color white
	full-width()
	.xs-center
		full-width()
		text-align center
		@media (min-width: scr_sm)
			text-align inherit
	img.map
		display none
		@media (min-width: scr_sm)
			display inline-block
	img
		max-width 100%
	.index &
		padding-bottom 0
	&__title
		font-size 35px
		line-height 30px
		color white
		text-transform: uppercase
		font-weight: bold
		position relative
		margin-top 0
		@media (min-width: scr_sm)
			margin-top 20px
			font-size 45px
			line-height 40px
		&--no-description
			&:after
				display none !important
		&:after
			margin-left 20px
			content attr(data-more)
			position absolute
			left 100%
			font-weight normal
			top -5px
			color #a3a3a3
			text-transform none
			display none
			@media (min-width: scr_md)
				display block
				width 55%
				font-size 12px
				line-height 14px
			@media (min-width: scr_lg)
				width 100%
				font-size 14px
				line-height 18px
	&__blue-title
		color blue2
		margin-bottom 15px
	&__divider
		width 100%
		border-bottom 1px solid rgba(255,255,255,.25)
		margin 20px 0
		@media (min-width: scr_sm)
			margin 30px 0
	a
		color white
		&:hover
			color blue2
			text-decoration: underline
	p
		font-size 15px	
		@media (min-width: scr_sm)
			font-size 16px
		font-weight 300
	h2
		font-weight 300
		font-size 22px
		@media (min-width: scr_sm)
			font-size 30px
	h4
		font-size 12px
		text-transform: uppercase
		margin-bottom 5px
		font-weight bold
	.list
		padding 0
		margin 20px 0 0
		font-size 16px
		list-style none
		margin-left 20px
		@media (min-width: scr_sm)
			margin-left 0
		li
			margin-bottom 10px
			max-width 90%
			font-weight 300
			position relative
			font-size 15px
			line-height 16px
			@media (min-width: scr_sm)
				font-size 16px
				line-height inherit
			&:after
				content ""
				width 5px
				height 5px
				border-radius 5px
				background blue2
				position absolute
				top 6px
				left -15px
				@media (min-width: scr_sm)
					top 8px
	big
		font-size 16px
		display inline-block
		@media (min-width: scr_sm)
			font-size 20px
			line-height 35px
	.button
		display inline-block
		padding 0 23px
		cursor pointer
		font-size 12px
		line-height 33px
		margin 20px 0
		border-radius 30px
		height 30px
		border 1px solid blue2
		color blue2
		text-transform: uppercase
		font-weight bold
		t(opacity)
		text-align: center
		&:hover
			opacity .8
			color blue2
			text-decoration: none
		&--big
			padding 0 33px
			min-width 216px 
			max-width 100%
			@media (min-width: scr_sm)
				min-width 100px
				padding 0 15px
		&--white
			color white
			border-color white
			&:hover
				color white
	.partners-list
		line-height 110px
		text-align center
	.tech
		&__item
			.row
				> div:last-of-type
					padding-left 0
					@media (min-width: scr_xs)
						padding-left 15px
			margin-top 20px

			full-width()
			background rgba(0,0,0,.45)
			padding 13px 13px 7px
			t(background)
			&:hover
				background #0082dc !important
				.tech__link
					opacity 1
			@media (min-width: scr_sm)
				margin-top 30px
				padding 13px 13px 10px
		&__image
			full-width()
			height 80px
			background-size cover
			background-position center center
			margin-bottom 7px
			@media (min-width: scr_sm)
				height 120px
		&__title
			full-width()
			font-size 14px
			min-height 55px
			line-height 17px
			padding-bottom 8px
			font-weight 300
			&:hover
				text-decoration none
				color white
		&__link
			padding-left 23px
			position relative
			full-width()
			line-height 26px
			opacity .6
			font-size 10px
			font-weight bold
			text-transform uppercase
			t(opacity)
			&:hover
				text-decoration: none
				color white
			font-size 8px
			@media (min-width: scr_xs)
				padding-left 31px
				font-size 10px
			svg
				position absolute
				left 0
				top 0
				max-width 17px
				max-height 22px
				@media (min-width: scr_xs)
					max-width 26px
					max-height 22px
		&__photos
			left -5px
			svg
				max-height 20px
				top 0px
	.filter + .services
		margin-top 20px
		@media (min-width: scr_sm)
			display none
		full-width()
	.services
		margin-top 30px
		width 100%
		&__image
			height 80px
			full-width()
			background-repeat no-repeat
			background-position center center
			background-size cover
			@media (min-width: scr_sm)
				height 100px
		&__title
			middle()
			font-size 12px
			font-weight bold
			color #a7a8a8
			line-height 14px
			t(color)
			@media (min-width: scr_sm)
				font-size 18px
				line-height 20px

		&__item
			.row
				> div:last-of-type
					padding-left 0
					padding-right 5px
					@media (min-width: scr_sm)
						padding-left 15px
						padding-right 15px
			display inline-block
			width 100%
			padding 7px 13px 0px
			margin-left -13px
			.map &
				margin-left 0
			line-height 85px
			@media (min-width: scr_sm)
				line-height 105px
			&:hover
				padding 13px 13px 8px
				margin-top -6px
				margin-bottom -8px
				t(background)
				background black
				.services__title
					color white
	.years, .pages
		display none
		@media (min-width: scr_sm)
			display inline-block
		&__item
			middle()
			font-size 11px
			font-weight bold
			height 20px
			line-height 22px
			padding 0 8px
			margin-left 3px
			border-radius 20px
			border 1px solid transparent
			&:hover
				text-decoration: none
				color white
				border 1px solid blue
			&--active
				border 1px solid blue
	.pages
		margin-top: 20px
		&__item
			font-size 12px
			line-height 26px
			height 24px
	article
		.news
			margin-right -7px
			margin-left -7px
			&__date
				line-height 15px
				height 22px
				full-width()
				font-size 10px
				color blue2
			&__picture + .news__date
				@media (min-width: scr_sm)
					line-height 42px
					height 40px
			&__title
				display inline-block
				font-size 14px
				line-height 16px
				font-weight 300
				&:hover
					color white
			&__item
				width 100%
				vertical-align top
				display inline-block
				padding 0 7px 14px
				&:hover
					color white
				@media (min-width: scr_sm)
					width (100/3)%
				@media (min-width: scr_md)
					width (100/4)%
			&__picture
				full-width()
				background-repeat no-repeat
				background-position center center
				background-size cover
				height 130px
				display none
				@media (min-width: scr_sm)
					display block
			&__frame
				padding 15px 15px 12px
				t(background-color)
				background rgba(0,0,0,.45)
				overflow hidden
				&:hover
					background #0082dc !important
					color white
					.news__date
						color white
	.filter
		full-width()
		position relative
		z-index 20
		background #161616
		height 37px
		margin-top 10px
		line-height 42px
		padding 0 15px
		font-size 12px
		text-transform: uppercase
		font-weight bold
		&__item
			margin-right 20px
			color #9c9c9c
			position relative
			span
				display none
				@media (min-width: scr_lg)
					display inline
					margin-left 5px
			&:after
				border-bottom 1px dotted #595959
				width 100%
				content ""
				bottom 3px
				left 0
				position absolute
				t(border-color)
			&--yellow, &--blue
				margin-left 15px
				&:before
					position absolute
					left -14px
					top 2px
					width 9px
					height 9px
					border-radius 5px
					content ""

			&--yellow:before
				background #ffba14
			&--blue:before
				background #0089c0
			&:hover, &--active
				text-decoration none
				color white
				&:after
					border-bottom-color white
			&--active
				&:after
					opacity 0
	.dropdown
		margin-left 5px
		margin-right -10px
		position relative
		font-size 12px
		font-weight bold
		text-transform: uppercase
		position relative
		.news &
			display inline-block
			margin-top 10px
			@media (min-width: scr_sm)
				display none
		&__select
			position absolute
			right 0
			top 0
			opacity 0
			z-index 20
			@media (min-width: scr_md)
				display none
		&--open
			.dropdown__trigger
				svg
					path
						fill white
				text-decoration none
				color white
				.dropdown__text
					color white
				&:after
					border-bottom-color white
		&__trigger
			color #9c9c9c
			z-index: 2
			position relative
			padding-right 10px
			line-height 8px
			svg
				margin-left 5px
				position relative
				top -1px
				
		&__text	
			position relative
			border-bottom 1px dotted #595959
			max-height 26px
			display inline-block
			&--white
				color white
		&__frame
			background blue
			display none
			padding 25px 5px 0px
			border-radius 5px
			position absolute
			top -4px
			left -5px
			min-width 100%
		&__item
			float: left
			clear: both
			font-size 11px
			line-height 19px
			&:hover
				color #18a5f7
				text-decoration none


.tooltip, #tt
	position: absolute
	z-index: 20000
	background-color: blue
	border-radius 20px
	margin-top -39px
	transform translateX(-50%)
	padding: 8px 15px 4px
	font-family 'Proxima', 'Helvetica Neue', 'Arial', sans-serif
	font-weight bold
#tt
	margin-top -10px
	line-height 16px
.sidebar
	full-width()
	z-index 10
	position relative
	
	@media (min-width: scr_md)
		.index &
			padding-bottom 80px
	.logo
		full-width()
		margin-bottom 20px
		@media (min-width: scr_md)
			display none
		svg
			max-width 188px
	.bages
		display none
		margin-bottom 95px
		margin-top 90px
		&__item
			max-width 200px
			margin-bottom 13px
			line-height 54px
		&__title
			top 4px
			position relative
		&__image
			max-width 54px
		@media (min-width: scr_md)
			display block
.sidebar, .index-news
	.news
		full-width()
		text-align: center
		background #1b1b1b
		padding 12px 0 5px
		@media (min-width: scr_md)
			padding 0
			width 100%
			margin-left 0
			background transparent
			max-width 75%
			text-align: left
		&__item
			full-width()
			position relative !important
			text-align center
			padding-bottom 0
			@media (min-width: scr_md)
				text-align left
		&__date
			color blue2
			font-size 10px
			font-weight bold
			margin-bottom 2px
			margin-top 6px
		&__title
			color white
			float none
			font-size 13px
			line-height 16px
			margin-bottom 0
			text-decoration underline
			max-width 70%
			display inline-block
			@media (min-width: scr_sm)
				font-size 15px
			@media (min-width: scr_md)
				font-size 13px
				float left
				margin-bottom 25px
				max-width none
			&:hover
				color blue2
		&__more
			font-size 10px
			text-transform uppercase
			color blue2
			font-weight bold
			&:hover
				text-decoration underline

.sidebar
	.news
		display none
		@media (min-width: scr_md)
			display block
.index-news
	full-width()
	.news
		height auto !important
		display block
		margin-top 30px
		@media (min-width: scr_md)
			display none
		&__more
			full-width()
			margin 15px 0 10px
.search
	position relative
	middle()
	width 100%
	&__input
		width 100%
		border 1px solid blue
		border-radius 20px
		height 20px
		background transparent
		color white
		line-height normal
		padding-left 5px
		font-size 11px
		middle()
		padding-right 22px
	&__submit
		position absolute
		width 13px !important
		height 13px
		//b('svg/seach.svg', center center no-repeat, transparent, cover)
		appearance none
		background transparent
		border 0
		right 6px
		top 23px
		svg
			position absolute
			top 0
			right 0
			height 13px
			width 13px
.lang-trigger
	font-size 11px
	font-weight bold
	user-select none
	color #a4a4a4
	middle()
	&__label
		t(color)
	&--lang
		&_russian
			.lang-trigger__label:first-of-type
				color white
			.lang-trigger__carriage:after
				left 4px
		&_english
			.lang-trigger__label:last-of-type
				color white
			.lang-trigger__carriage:after
				left 25px
	&__carriage
		middle()
		background blue
		width 41px
		height 20px
		border-radius 10px
		cursor pointer
		margin 0 3px
		position: relative
		top -1px
		&:after
			t(left)
			content ""
			width 12px
			border-radius 12px
			left 4px
			top 4px
			height 12px
			box-shadow 0 1px 3px rgba(0,0,0,.3)
			background white
			position absolute
.wrap
	padding-top 82px
	@media (min-width: scr_sm)
		padding-top 0
.toolbar
	full-width()
	position relative
	height 61px
	line-height 63px
	@media (min-width: scr_md)
		height 120px
		line-height 58px
	z-index 20
	white-space nowrap
	background rgba(0,0,0,.8)
	margin-bottom 20px
	top 0
	left 0
	position fixed
	@media (min-width: scr_sm)
		position relative
		background rgba(0,0,0,.5)
		margin-bottom 15px
	@media (min-width: scr_md)
		margin-bottom 35px
	.divider
		full-width()
		margin-top -5px
		margin-bottom -5px
		border-bottom 1px solid rgba(255,255,255,.2)
		line-height 50px
	.logo
		full-width()
		@media (min-width: scr_sm)
			margin-left 20px
		line-height 120px
		svg
			middle()
			max-width 43%
			@media (min-width: scr_sm)
				max-width 70%
			@media (min-width: scr_lg)
				max-width 188px
	.nav
		full-width()
		text-align justify
		&__item
			font-weight bold
			text-transform uppercase
			color white
			line-height 31px
			height 32px
			@media (min-width: scr_sm)
				font-size 15px
				padding 3px 8.8px 0
			@media (min-width: scr_lg)
				font-size 16px
				padding 3px 16.4px 0
			margin-bottom 5px
			white-space nowrap
			&--active
				color blue
			&:first-of-type
				padding-left 0
			&:hover
				color blue
				text-decoration: none
	.search-form
		position absolute
		top 0px
		display none
		right 9px
		line-height 55px
		height 54px
		background black
		&__button
			background transparent
			border 0
			line-height: auto
			position relative
			top: 3px
			opacity 0
		&__text
			background black
			border 1px solid blue
			height 20px
			border-radius 20px
			line-height 24px
			min-width 240px
			padding 0 15px
			font-size 12px
			text-transform: uppercase
	.lang-trigger
		@media (min-width: scr_sm)
			margin-left 0px
		@media (min-width: scr_lg)
			margin-left 28px
	/* Выбор сайтов холдинга */
	.site-select
		middle()
		width 100%
		@media (min-width: scr_md)
			width 200px
		font-weight bold
		font-size 10px
		text-transform uppercase
		position: relative
		z-index 200
		&--open
			.site-select__trigger
				svg
					path
						fill white
		&__trigger
			color white
			position relative
			top 1px
			z-index 3
			svg
				margin-left 5px
			span
				display none
				@media (min-width: scr_md)
					display none
				@media (min-width: scr_lg)
					display inline
		&__dropdown
			display none
			position absolute
			top 13px
			left -13px
			background blue
			width 200px
			padding 35px 13px 5px
			border-radius 5px
		&__link
			float: left
			clear both
			color white
			line-height 20px
			text-decoration: underline
			&:hover
				color blue2
				text-decoration none
	.search-trigger
		display none
		@media (min-width: scr_sm)
			display inline
		svg
			middle()
			top -2px
			position relative
	/* Тригер мобильного меню */
	.nav-trigger
		float right
		position relative
		z-index 220
		margin-left 40px
		@media (min-width: scr_md)
			display none
		span
			color white
			font-size 10px
			text-transform: uppercase
			font-weight bold
		svg
			middle()
			max-width 23px
			margin-left 7px
	/* Тригеры попапов */
	.popup-trigger
		middle()
		display inline
		margin 0 7px
		&:first-of-type
			margin-left 40px
			@media (min-width: scr_xs)
				margin-left 10px
		svg
			middle()
			position relative
			top -2px
		@media (min-width: scr_sm)
			display none
	.phone
		color white
		font-size 15px
		font-weight bold
		svg
			middle()
			position relative
			top -1px
			margin-right 10px
	.feedback, .filials
		middle()
		text-transform uppercase
		font-size 10px
		color white
		font-weight bold
		&:hover
			color #084ed0
	.filials
		svg
			middle()
			position relative
			top -1px
			margin-right 9px
			margin-left -9px
	.feedback
		margin 0 25px
	.search, .phone, .lang-trigger, .feedback, .filials
		display none
		@media (min-width: scr_sm)
			display inline-block