/*
 * Модификаторы оформления
 */

a, input
	&:focus
		outline 0
		text-decoration: none

.inline-block
	display inline-block

for vx in uppercase lowecase
	.{vx}
		text-transform vx

for vx in left center right
	.{vx}
		text-align vx

value = 5px 10px 15px 20px 25px 30px 35px

for vx in margin padding
	for vy in top left bottom right
		.no-{vx}-{vy}
			{vx}-{vy} 0 !important
		for vz, key in xxs xs s m l xl xxl
			/.{vz}-{vx}-{vy}
				{vx}-{vy}: value[key] !important

for vx in line-height
	for vz, key in xxs xs s m l xl xxl
		/.{vz}-{vx}
			{vx}: value[key] !important
/*!
 * Примеси
 */
@import "nib"

full-width()
	float left
	width 100%

middle()
	display inline-block
	vertical-align middle

t(attr=null,time=.3s)
	transition-property attr
	transition-duration time

b(name=null, position=null, color=null, size=null)
	background color url(../images/name) position
	if size
		background-size size
/*
 * Модификаторы плагинов
 */
 .fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play
	background-image url(/layout/plugins/fotorama.png)
	@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi)
		background-image url(/layout/images/plugins/fotorama@2x.png)
blue  = #0049d3
blue2 = #00aafa
white = #f4f4f4
@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Bold.ttf")
	src local('☺'), url('../fonts/ProximaNova-Bold.ttf') format('truetype')
	font-weight bold

@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Regular.ttf")
	src local('☺'), url('../fonts/ProximaNova-Regular.ttf') format('truetype')
	font-weight normal

@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Light.ttf")
	src local('☺'), url('../fonts/ProximaNova-Light.ttf') format('truetype')
	font-weight 300
.footer
	full-width()
	position relative
	z-index 20
	color #a3a3a3
	overflow hidden
	background black
	border-top 1px solid #212121
	min-height 65px
	padding 22px 0 13px
	font-weight bold
	text-transform uppercase
	font-size 10px
	a
		color #a3a3a3
		text-decoration: underline
		&:hover
			color blue
	.social
		full-width()
		&__item
			middle()
			width 23px
			height 23px
			line-height 23px
			margin 0 5px
			opacity .5
			text-align: center
			t(opacity)
			&:hover
				opacity 1
			svg
				middle()
				max-height 100%
				max-width 100%
	.radia
		float right
		t(opacity)
		opacity .5
		display none
		.index &
			display block
		&:hover
			opacity 1
		svg
			max-height 27px
			max-width 27px
			margin-right: 10px
			float left
		&__content
			float left
			color #fff
			text-decoration: none
body
	font-family 'Proxima', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	height 100%
	color white
	&.map
		min-height 850px
	
a
	transition-property color, background-color, border-radius, box-shadow, border-radius
	transition-duration .3s
	&:hover
		text-decoration none
.container
	max-width 1150px
	@media (max-width : 1024px)
		max-width 980px
.wrap 
	min-height: 100%
	padding-bottom 65px
	margin-bottom: -65px
	&:after
		content ""
		display block
	.transparent &
		background transparent
	b('bg.jpg', top center no-repeat, black, cover)
	for x in index about contacts partners tech news
		.{x} &
			b('bg_'+x+'.jpg', top center no-repeat, black, cover)

html
	height 100%

article
	position relative
	z-index 10
.index-page
	full-width()
	margin-top 495px
	float right
	max-width 700px
	h1
		float right
		padding-bottom 15px
		margin-bottom 20px
		font-size 24px
		text-transform: uppercase
		border-bottom 1px solid rgba(255,255,255,.5)
	.bages
		line-height: 54px
		&__image
			max-width 54px
			margin-right: 10px
		&__title
			middle()
			max-width 60%
			line-height 16px
			font-size 11px
			text-transform: uppercase
			font-weight: bold

.modal-lg
	width 980px
.modal-content
	border-radius 0
	background black
	border 1px solid blue
	padding 50px 60px
	&--white
		background white
		border 0
		padding 30px 40px
		color black !important
		p
			font-size 16px
			line-height 20px
			margin-bottom 18px
		h1
			margin-top 10px
			font-weight bold
			font-size 30px
			margin-bottom: 25px
	.close
		opacity 1
		position absolute
		top 0
		right -100px
		svg
			path
				fill blue
	img
		max-width 100%
.modal-backdrop.in
	opacity .8

#map
	width 100%
	height 438px

#bg_map
	position absolute
	background black
	top 0
	z-index 1
	left 0
	width 100%
	height 100%
	min-height 850px
.page
	padding-bottom 40px
	color white
	.index &
		padding-bottom 0
	&__title
		font-size 45px
		line-height 40px
		color white
		text-transform: uppercase
		font-weight: bold
		position relative
		&:after
			margin-left 20px
			content attr(data-more)
			position absolute
			left 100%
			font-weight normal
			width 100%
			top -5px
			font-size 14px
			line-height 18px
			color #a3a3a3
			text-transform none
	&__blue-title
		color blue2
		margin-bottom 15px
	&__divider
		width 100%
		border-bottom 1px solid rgba(255,255,255,.25)
		margin 30px 0
	a
		color white
		&:hover
			color blue2
			text-decoration: underline
	p
		font-size 16px
		font-weight 300
	h2
		font-weight 300
	h4
		font-size 12px
		text-transform: uppercase
		margin-bottom 5px
		font-weight bold
	.list
		padding 0
		margin 20px 0 0
		font-size 16px
		list-style none
		li
			margin-bottom 10px
			max-width 90%
			font-weight 300
			position relative
			&:after
				content ""
				width 5px
				height 5px
				border-radius 5px
				background blue2
				position absolute
				top 8px
				left -15px
	big
		font-size 20px
		line-height 35px
		display inline-block
	.button
		display inline-block
		padding 0 23px
		cursor pointer
		font-size 12px
		line-height 33px
		margin 20px 0
		border-radius 30px
		height 30px
		border 1px solid blue2
		color blue2
		text-transform: uppercase
		font-weight bold
		t(opacity)
		text-align: center
		&:hover
			opacity .8
			color blue2
			text-decoration: none
		&--big
			padding 0 33px
			min-width 216px 
		&--white
			color white
			border-color white
			&:hover
				color white
	.partners-list
		line-height 110px
		text-align center
	.tech
		&__item
			margin-top 30px
			full-width()
			background rgba(0,0,0,.45)
			padding 13px 13px 10px
			t(background)
			&:hover
				background #0082dc
				.tech__link
					opacity 1
		&__image
			full-width()
			height 120px
			background-size cover
			background-position center center
			margin-bottom 7px
		&__title
			full-width()
			font-size 14px
			min-height 55px
			line-height 17px
			padding-bottom 8px
			font-weight 300
		&__link
			padding-left 31px
			position relative
			full-width()
			line-height 26px
			opacity .6
			font-size 10px
			font-weight bold
			text-transform uppercase
			t(opacity)
			&:hover
				text-decoration: none
				color white
			svg
				position absolute
				left 0
				top 0
				max-width 26px
				max-height 22px
		&__photos
			left -5px
			svg
				max-height 20px
				top 0px
	.services
		margin-top 30px
		&__image
			height 100px
			full-width()
		&__title
			middle()
			font-size 18px
			font-weight bold
			color #a7a8a8
			line-height 20px
			t(color)
		&__item
			display inline-block
			width 100%
			padding 7px 13px
			margin-left -13px
			line-height 100px
			&:hover
				padding 13px
				margin-top -6px
				margin-bottom -6px
				t(background)
				background black
				.services__title
					color white
	.years
		&__item
			middle()
			font-size 11px
			font-weight bold
			height 20px
			line-height 22px
			padding 0 8px
			margin-left 3px
			border-radius 20px
			border 1px solid transparent
			&:hover
				text-decoration: none
				color white
				border 1px solid blue
			&--active
				border 1px solid blue
	article
		.news
			margin-right -7px
			margin-left -7px
			&__date
				line-height 15px
				height 22px
				full-width()
				font-size 10px
				color blue2
			&__picture + .news__date
				line-height 42px
				height 40px
			&__title
				display inline-block
				font-size 14px
				line-height 16px
				font-weight 300
			&__item
				width (100/3)%
				display inline-block
				padding 0 7px 14px
			&__picture
				full-width()
				background-size cover
				background-repeat no-repeat
				height 130px
			&__frame
				padding 15px 15px 12px
				t(background)
				background rgba(0,0,0,.45)
				&:hover
					background #0082dc
					color white
					.news__date
						color white
	.filter
		full-width()
		background #161616
		height 37px
		margin-top 10px
		line-height 42px
		padding 0 15px
		font-size 12px
		text-transform: uppercase
		font-weight bold
		&__item
			margin-right 20px
			color #9c9c9c
			position relative
			&:after
				border-bottom 1px dotted #595959
				width 100%
				content ""
				bottom 3px
				left 0
				position absolute
				t(border-color)
			&--yellow, &--blue
				margin-left 15px
				&:before
					position absolute
					left -14px
					top 2px
					width 9px
					height 9px
					border-radius 5px
					content ""

			&--yellow:before
				background #ffba14
			&--blue:before
				background #0089c0
			&:hover, &--active
				text-decoration none
				color white
				&:after
					border-bottom-color white
			&--active
				&:after
					opacity 0
	.dropdown
		margin-left 5px
		margin-right -10px
		position relative
		&__trigger
			color #9c9c9c
			z-index: 2
			position relative
			padding-right 10px
			svg
				margin-left 5px
				position relative
				top -1px
			&:hover
				text-decoration none
				color white
				.dropdown__text
					color white
				&:after
					border-bottom-color white
		&__text	
			position relative
			border-bottom 1px dotted #595959
			max-height 26px
			display inline-block
		&__frame
			background blue
			display none
			padding 25px 5px 0px
			border-radius 5px
			position absolute
			top -4px
			left -5px
			min-width 100%
		&__item
			float: left
			clear: both
			font-size 11px
			line-height 19px
			&:hover
				color #18a5f7
				text-decoration none
		&:hover
			.dropdown__trigger
				color white
				svg
					path
						fill white
.sidebar
	full-width()
	padding-bottom 80px
	z-index 10
	position relative
	.logo
		full-width()
		margin-bottom 90px
		svg
			max-width 100%
	.nav-left
		full-width()
		margin-bottom 60px
		&__item
			float left
			clear both
			font-size 18px
			font-weight bold
			text-transform uppercase
			color white
			line-height 31px
			height 32px
			padding 3px 15px 0
			margin-left -15px
			margin-bottom 5px
			white-space nowrap
			&--active
				color blue
				border 1px solid blue
				border-radius 20px
			&:hover
				color blue
				text-decoration: none
	.news
		full-width()
		max-width 75%
		&__item
			full-width()
		&__date
			color blue2
			font-size 10px
			font-weight bold
			margin-bottom 2px
		&__title
			color white
			text-decoration underline
			font-size 13px
			line-height 16px
			float left
			margin-bottom 25px
			&:hover
				color blue2
		&__more
			font-size 10px
			text-transform uppercase
			color blue2
			font-weight bold
			&:hover
				text-decoration underline
.toolbar
	full-width()
	position relative
	height 62px
	margin-bottom 35px
	line-height 63px
	z-index 20
	white-space nowrap
	background rgba(0,0,0,.5)
	.site-select
		middle()
		width 200px
		font-weight bold
		font-size 10px
		text-transform uppercase
		position: relative
		&--open
			.site-select__trigger
				svg
					path
						fill white
		&__trigger
			color white
			position relative
			z-index 3
			svg
				margin-left 10px
		&__dropdown
			display none
			position absolute
			top 13px
			left -13px
			background blue
			width 200px
			padding 35px 13px 5px
			border-radius 5px
		&__link
			float: left
			clear both
			color white
			line-height 20px
			text-decoration: underline
			&:hover
				color blue2
				text-decoration none

	.lang-trigger
		font-size 11px
		font-weight bold
		user-select none
		color #a4a4a4
		middle()
		&__label
			t(color)
		&--lang
			&_russian
				.lang-trigger__label:first-of-type
					color white
				.lang-trigger__carriage:after
					left 4px
			&_english
				.lang-trigger__label:last-of-type
					color white
				.lang-trigger__carriage:after
					left 25px
		&__carriage
			middle()
			background blue
			width 41px
			height 20px
			border-radius 10px
			cursor pointer
			margin 0 3px
			position: relative
			top -1px
			&:after
				t(left)
				content ""
				width 12px
				border-radius 12px
				left 4px
				top 4px
				height 12px
				box-shadow 0 1px 3px rgba(0,0,0,.3)
				background white
				position absolute
	.phone
		color white
		font-size 15px
		font-weight bold
		svg
			middle()
			position relative
			top -1px
			margin-right 10px
	.feedback
		middle()
		text-transform uppercase
		font-size 10px
		color white
		font-weight bold
	.search
		position relative
		middle()
		width 100%
		&__input
			width 100%
			border 1px solid blue
			border-radius 20px
			height 20px
			background transparent
			color white
			line-height normal
			padding-left 5px
			font-size 11px
			middle()
			padding-right 22px
		&__submit
			position absolute
			width 13px !important
			height 13px
			//b('svg/seach.svg', center center no-repeat, transparent, cover)
			appearance none
			background transparent
			border 0
			right 6px
			top 23px
			svg
				position absolute
				top 0
				right 0
				height 13px
				width 13px
