footer.footer
	.container
		.row
			.col-xs-3
				.copyright © 2014 ООО «аргус сварсервис» 
			.col-xs-2
				.contacts
					span Москва,  ул. усачева, 35А <br>
					a.contacts_link(href="mailto:info@argusweld.ru") info@argusweld.ru
			.col-xs-2
				a(href="#").map карта сайта
			.col-xs-2
				.social
					a(href="#").social__item
						include ../../../public_html/layout/images/svg/facebook.svg
					a(href="#").social__item
						include ../../../public_html/layout/images/svg/twitter.svg
					a(href="#").social__item
						include ../../../public_html/layout/images/svg/google.svg
					a(href="#").social__item
						include ../../../public_html/layout/images/svg/pinterest.svg


script(type="text/javascript", src="./layout/js/frontend.js")
</body>
</html>