header.toolbar
	.container
		.row
			.col-md-4.col-xs-3
				.site-select
					a.site-select__trigger(href="#")
						| Другие сайты холдинга
						include ../../../public_html/layout/images/svg/arrow.svg
					.site-select__dropdown
						a(href="#").site-select__link ТКС-холдинг
						a(href="#").site-select__link аргус пайплайн сервис
						a(href="#").site-select__link аргус свар сервис
						a(href="#").site-select__link трубопровод контроль сервис
						a(href="#").site-select__link спецнефтегаз-т
						a(href="#").site-select__link уиц ронктд “спектр”
						a(href="#").site-select__link интера
						a(href="#").site-select__link мнпо “спектр”
						a(href="#").site-select__link асц сварка стройтэк
						a(href="#").site-select__link зто
			.col-xs-2
				.lang-trigger.lang-trigger--lang_russian(data-variant="russian,english")
					span.lang-trigger__label RU
					span.lang-trigger__carriage
					span.lang-trigger__label EN
			.col-xs-3.col-md-2
				a.phone(href="tel:88002005001")
					include ../../../public_html/layout/images/svg/phone.svg
					| 8 800 200 500 1
			.col-xs-2
				a.feedback(href="#") Обратная связь
			.col-xs-2
				form.search
					input.search__input(type="text", name="q")
					input.search__submit(type="submit", value="")