/*
 * Модификаторы оформления
 */
scr_xs = 480px
scr_sm = 768px
scr_md = 992px
scr_lg = 1200px

a, input
	&:focus
		outline 0
		text-decoration: none

.inline-block
	display inline-block

for vx in uppercase lowecase
	.{vx}
		text-transform vx

for vx in left center right
	.{vx}
		text-align vx !important

value = 0px 5px 10px 15px 20px 25px 30px
value_sm = 5px 10px 15px 20px 25px 30px 35px

for vx in margin padding
	for vy in top left bottom right
		.no-{vx}-{vy}
			{vx}-{vy} 0 !important
		for vz, key in xxs xs s m l xl xxl
			/.{vz}-{vx}-{vy}
				{vx}-{vy}: value[key] !important
				@media (min-width: scr_sm)
					{vx}-{vy}: value_sm[key] !important

for vx in line-height
	for vz, key in xxs xs s m l xl xxl
		/.{vz}-{vx}
			{vx}: value_sm[key] !important
