/*!
 * Примеси
 */
@import "nib"

full-width()
	float left
	width 100%

middle()
	display inline-block
	vertical-align middle

t(attr=null,time=.3s)
	transition-property attr
	transition-duration time

b(name=null, position=null, color=null, size=null)
	background color url(../images/name) position
	if size
		background-size size