include includes/header

<body class="index">
.wrap
	include includes/toolbar

	main.page
		.container
			.row
				.col-sm-3.col-md-4
					aside.sidebar
						.news.no-mobile
							.news__item
								.news__date 12.07.2014
								a(href="#").news__title Представляем новые высокопроизводительные системы автоматической сварки трубопроводов Р-700 и М-400
							a(href="#").news__more еще новости
				.col-sm-9.col-md-8
					article.index-page
						h1 Международная команда экспертов автоматической сварки трубопроводов мирового уровня
						.bages
							.row
								.col-xs-4
									.bages__item
										img(src='./layout/images/icon-1.png').bages__image
										.bages__title Ассоциированный член росснгс
								.col-xs-4
									.bages__item
										img(src='./layout/images/icon-2.png').bages__image
										.bages__title Ассоциированный член iploca
								.col-xs-4
									.bages__item
										img(src='./layout/images/icon-3.png').bages__image
										.bages__title Сертификация по стандарту ISO
						.news.visible-xs
							.news__item
								.news__date 12.07.2014
								a(href="#").news__title Представляем новые высокопроизводительные системы автоматической сварки трубопроводов Р-700 и М-400
							a(href="#").news__more еще новости
include includes/footer