include includes/header

<body class="partners">
.wrap
	include includes/toolbar

	main.page
		.container
			.row
				.col-xs-3.col-md-4
					aside.sidebar
						a(href="/").logo
							include ../../public_html/layout/images/svg/logo.svg
						nav.nav-left
							a(href="about.html").nav-left__item О компании
							a(href="news.html").nav-left__item Новости
							a(href="services.html").nav-left__item Услуги
							a(href="tech.html").nav-left__item Технологии
							a(href="projects.html").nav-left__item Наши проекты
							a(href="partners.html").nav-left__item.nav-left__item--active Партнеры
							a(href="contacts.html").nav-left__item Контакты
				.col-xs-9.col-md-8
					article
						h1.page__title Партнеры
						.page__divider
						.partners-list
							.row
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-1.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-2.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-3.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-4.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-5.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-6.png")
							.row
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-1.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-2.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-3.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-4.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-5.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-6.png")
							.row
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-1.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-2.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-3.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-4.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-5.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-6.png")
							.row
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-1.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-2.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-3.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-4.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-5.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-6.png")
							.row
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-1.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-2.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-3.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-4.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-5.png")
								.col-xs-2
									a.partners-list__item(href="#")
										img(src="./layout/images/l-6.png")

include includes/footer