include includes/header

<body class="map">
.wrap
	include includes/toolbar

	main.page
		.container
			.row
				.col-sm-3.col-md-4
					aside.sidebar
						a(href="/").logo
							include ../../public_html/layout/images/svg/logo.svg
						nav.nav-left.no-mobile
							a(href="about.html").nav-left__item О компании
							a(href="news.html").nav-left__item Новости
							a(href="services.html").nav-left__item Услуги
							a(href="tech.html").nav-left__item Технологии
							a(href="projects.html").nav-left__item.nav-left__item--active Наши проекты
							a(href="partners.html").nav-left__item Партнеры
							a(href="contacts.html").nav-left__item Контакты
				.col-sm-9.col-md-8
					article
						h1.inline-block.page__title(data-more="Для получения подробной информации о проекте нажмите на соответствующий маркер на карте.") наши проекты
						.filter
							.row
								.col-xs-12.visible-xs
									span.dropdown
										a.dropdown__trigger(href="#")
											span.dropdown__text Все проекты
											include ../../public_html/layout/images/svg/arrow.svg
										span.dropdown__frame
											a.dropdown__item(href="#", style="display:none") Все проекты
											a.dropdown__item(href="#") Текущие
											a.dropdown__item(href="#") Завершенные
								.col-sm-9.no-mobile
									a.filter__item.filter__item--active(href="#") все проекты
									a.filter__item.filter__item--yellow(href="#") текущие
										span проекты
									a.filter__item.filter__item--blue(href="#") ЗАВЕРШЕННЫЕ
										span проекты
								.col-sm-3.right.no-mobile
									| Вид: 
									span.dropdown.type
										a.dropdown__trigger(href="#")
											span.dropdown__text Карта
											include ../../public_html/layout/images/svg/arrow.svg
										span.dropdown__frame
											a.dropdown__item(href="#list") Список
											a.dropdown__item(href="#bg_map") Карта
						div(id="list").services
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-1.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Организация работы колонн автоматической сварки
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-2.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Организация мероприятий для вывода сварочных потоков на требуемую роизводительность и качество
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-3.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Производство и анализ причин возникновения дефектов и разработка мероприятий по их устранению
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-4.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Обеспечение технической исправность оборудования и его бесперебойной работы
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-6.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Осуществление технологической поддержки автоматической сварки на этапе аттестации и на протяжении всего проекта
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-7.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Разработка технологических карт и сварочных процедур
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-8.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Разработка и внедрение новых сварочных технологий к существующим условиям и задачам на объектах строительства
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-9.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Предоставляем комплексы автоматической сварки в аренду с техническим персоналом и сварщиками
							a.services__item(data-toggle="modal", data-target="#markerDetail", href="#markerDetail")
								.row
									.col-xs-5.col-sm-4.col-md-3
										.services__image(style="background-image: url(./layout/images/s-10.jpg)")
									.col-xs-7.col-sm-8.col-md-9
										.services__title Осуществляем сварочно-монтажные работы на участках строительства магистральных трубопроводов различных диаметров и протяженностей, различных категорий

#bg_map

.modal.fade(id="markerDetail", tabindex="-1", role="dialog" aria-hidden="true")
	.modal-dialog.modal-lg
		.modal-content.modal-content--white
			a.close(data-dismiss="modal", href="#")
				include ../../public_html/layout/images/svg/close.svg
			h1 Описание проекта. Заголовок.
			.row
				.col-md-7
					p В настоящее время автоматическая сварка занимает лидирующее положение не только при сооружении сухопутных и морских магистральных трубопроводов большого диаметра, но и при строительстве промысловых трубопроводов различных диаметров.
					p При строительства трубопроводов малого диаметра основной объем работ по-прежнему выполняется с помощью ручной сварки. Однако тенденции развития трубопроводостроительной отрасли подтверждают, что и здесь в ближайшей перспективе центральное место займёт автоматическая сварка. 
					p В то же время полуавтоматическая сварка будет играть все большую роль при выполнении ремонтных работ на трассе, вытесняя сварку штучным электродом. 
					p Комбинация систем автоматической, полуавтоматической и ручной сварки (штучным электродом) позволят формировать единый технологический процесс, обеспечивающий стабильно высокие качество и производительность выполнения сварочных работ в совокупности с экономической рентабельностью, гибкостью и универсальностью.
				.col-md-5
					img(src="./layout/images/img.jpg")
script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false")
		
include includes/footer