.page
	&__title
		full-width()
		font-size 45px
		color white
		text-transform: uppercase
		font-weight: bold
		padding-bottom 20px
		border-bottom 1px solid rgba(255,255,255,.25)
		margin-bottom 30px
	&__blue-title
		color blue2