.search
	position relative
	middle()
	width 100%
	&__input
		width 100%
		border 1px solid blue
		border-radius 20px
		height 20px
		background transparent
		color white
		line-height normal
		padding-left 5px
		font-size 11px
		middle()
		padding-right 22px
	&__submit
		position absolute
		width 13px !important
		height 13px
		//b('svg/seach.svg', center center no-repeat, transparent, cover)
		appearance none
		background transparent
		border 0
		right 6px
		top 23px
		svg
			position absolute
			top 0
			right 0
			height 13px
			width 13px
.lang-trigger
	font-size 11px
	font-weight bold
	user-select none
	color #a4a4a4
	middle()
	&__label
		t(color)
	&--lang
		&_russian
			.lang-trigger__label:first-of-type
				color white
			.lang-trigger__carriage:after
				left 4px
		&_english
			.lang-trigger__label:last-of-type
				color white
			.lang-trigger__carriage:after
				left 25px
	&__carriage
		middle()
		background blue
		width 41px
		height 20px
		border-radius 10px
		cursor pointer
		margin 0 3px
		position: relative
		top -1px
		&:after
			t(left)
			content ""
			width 12px
			border-radius 12px
			left 4px
			top 4px
			height 12px
			box-shadow 0 1px 3px rgba(0,0,0,.3)
			background white
			position absolute
.wrap
	padding-top 82px
	@media (min-width: scr_sm)
		padding-top 0
.toolbar
	full-width()
	background-position top center !important
	position relative
	height 62px
	line-height 63px
	z-index 20
	white-space nowrap
	background rgba(0,0,0,.8)
	margin-bottom 20px
	top 0
	left 0
	position fixed
	@media (min-width: scr_sm)
		position relative
		background rgba(0,0,0,.5)
		margin-bottom 35px
	.site-select
		middle()
		width 200px
		font-weight bold
		font-size 10px
		text-transform uppercase
		position: relative
		&--open
			.site-select__trigger
				svg
					path
						fill white
		&__trigger
			color white
			position relative
			z-index 3
			svg
				margin-left 5px
		&__dropdown
			display none
			position absolute
			top 13px
			left -13px
			background blue
			width 200px
			padding 35px 13px 5px
			border-radius 5px
		&__link
			float: left
			clear both
			color white
			line-height 20px
			text-decoration: underline
			&:hover
				color blue2
				text-decoration none
	.nav-trigger
		float right
		position relative
		z-index 22
		@media (min-width: scr_sm)
			display none
		span
			color white
			font-size 8px
			text-transform: uppercase
			font-weight bold
		svg
			middle()
			max-width 23px
			margin-left 7px
	.popup-trigger
		middle()
		display inline
		margin 0 7px
		&:first-of-type
			margin-left 20px
		svg
			middle()
			position relative
			top -2px
		@media (min-width: scr_sm)
			display none
	.phone
		color white
		font-size 15px
		font-weight bold
		svg
			middle()
			position relative
			top -1px
			margin-right 10px
	.feedback
		middle()
		text-transform uppercase
		font-size 10px
		color white
		font-weight bold
	.site-select span
		display none
		@media (min-width: scr_sm)
			display inline
	.search, .phone, .lang-trigger, .feedback
		display none
		@media (min-width: scr_sm)
			display block